body {
    font-family: 'poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F2F3F4;
    color: #333333;
    
}

#nav {
    text-decoration: none;
}

header .nav-bar {
    display: flex;
    justify-content: center ;
    background-color: #EB984E;
    margin: 15px;
    padding: 10px;
    gap: 15px;
}


/*incio da animação que aumenta o botão*/
header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover{
    transform: scale(1.05);
    cursor: pointer;
}
/*fim da animação que aumenta o botão*/

main {
    /*background-color: antiquewhite;*/
    padding: 25px;

}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
   
}

main .cartao-pokemon {
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    
}

main .cartao-pokemon:hover {
    background-color: #96d9d6;
}

/*.modo-escuro .cartao-pokemon{
    background-color: #a8a8a8;
}*/

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
       padding: 5px;
       text-transform: uppercase;
       font-size: 17px;
    
}

main .cartao-pokemon .gif{
    
    height: 90px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
}

.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color: #df67ddfb;
}

.fogo {
    background-color: #ee8130;
}

.agua {
    background-color: #6390f0;
}

.inseto {
    background-color: #a6b91a;
}
/*texto do card*/
main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;

}
/*fim do texto do card*/